<a href="https://colab.research.google.com/github/manishaneupane3901/python/blob/main/Python_basics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic of Python Programming**

In this session we will cover

1. Variables, Numbers and Strings

 1.1 Variables

 1.2 Numbers

 1.3 Strings
2. Data Structures

 2.1 Lists

 2.2 Dictionaries

 2.3 Tuples

 2.4 Sets
3. Comparison and Logic Operators

4. Control Flow

 4.1 If Condition

 4.2 For Loop

 4.3 While Loop

5. Functions

6. Lambda Functions

7. Built in functions

 7.1 Map Function

 7.2 Filter Function

8. More Useful Python Stuff

 8.1 List Comprehension

 8.2 Enumerate Function

 8.3 Zip Function

**1. Variables, Numbers, and Strings**

**1.1 Variables**

Below are quick notes about Python variables and other most important things to know before writing actual Python code:

A **Variable** is a location in memory where we store the data.

A **variable** in Python can either be of 3 data types: integer, float, or a string.
 Data type specifies the category of the variables.

We can use  **type(variable_name)**  to find the type of given variable_name.





*   In Python, we use # to add comments. Comments do not change anything and are not compiled.
*  If your comment is longer than one line, you can use triple quotes. The lines inside triple quotes are ignore during runtime.

For Example:
"""
In Python, there is no official way to write long comments, but you can use triple quotes.
The sentence between triple quote are ignored at runtime. You can also use single quote('''....'''). Python treats single quote as double quotes in many scanerios such as strings representation.
"""


* We also use = to assign a value to the name of variable.
* Note that it's different to comparison operator of equal to (==).

We can use **print()** to display the value of variable or the results of any expression.

* Each line of the code start on the new line.

* Be aware of indentations.
*  Python is serious about them.

In [ ]:
a=10
b='''Welcome to NCE'''
print(b)
print(c)

Welcome to NCE
0.5

**1.2 Numbers**

Numbers in Python can either be integers int or floats float.
Integer are real, finite, natural or whole numbers.
Take an example: 1,2,3,4 are integers.
 Floats are numbers that have decimal points such as4.6, 6.0, 7.7.
 Note that 4.0 is considered as a float data type too.

In [ ]:
a=10
b=6.0
type(b)
type(a)

int

**Python acts a calculator**

In [ ]:
# Addition
1+2

3

In [ ]:
#multiplication
2*2

4

In [ ]:
#Division

In [ ]:
2/2

1.0

In [ ]:
#floordivision
7//2

3

Floor division is a division operation that returns the largest integer that is less than or equal to the result of the division.

In [ ]:
# Modular (%)
# This is the remainder or a value remaining after dividing two numbers
# 100 / 1 = 100, remainder is 0

100 % 1

0

In [ ]:
# Powers
# 1 power any number is 1 always

1 ** 100

1

**1.3 Strings**

Python supports strings. String is a sequence of characters.

Strings are one of the commonly used and important data types. Most problems involve working with strings. Thus, knowing how to work with strings is an incredible thing.

Strings are expressed in  using single quotes (‘ ‘), double quotes (" "), and triple double quotes (""" """).
The triple quotes can be used to declare multiline strings in Python.

"text inside here will be a string"
'text inside here will also be a string'

In [ ]:
a='hello'
b='freshers'
a+b

'hellofreshers'

In [ ]:
a='hello'
b='freshers'
a +' '+b +'.'

'hello freshers.'

In [ ]:
String1 = """Water
            For
            Life"""
print(String1)

Water
            For
            Life

In [ ]:
# We can use print() to display a string

print(" This is a string")

 This is a string

In [ ]:
# We can also compare strings to check whether they are similar.
# If they are similar, case by case, comparison operator returns true. Else false

"A string" == "a string"

False

In [ ]:
"A string" == "A string"

True

**Strings Methods**

Python provides many built-in methods for manipulating strings. As a programmer, knowing typical string methods and how to use them will give you a real leverage when working with strings.

In [ ]:
sentence = 'This IS A String'
sentence

'This IS A String'

In [ ]:
# Case capitalization
# It return the string with first letter capitalized and the rest being lower cases.

sentence.capitalize()

'This is a string'

In [ ]:
# Given a string, convert it into title (each word is capitalized)

sentence_2 = 'this is a string to be titled'
sentence_2.title()

'This Is A String To Be Titled'

In [ ]:
# Converting the string to upper case

sentence.upper()

'THIS IS A STRING'

In [ ]:
# Converting the string to lower case

sentence.lower()

'this is a string'

In [ ]:
# Splitting the string

sentence.split()

['This', 'IS', 'A', 'String']

Lastly, we can use **replace()** method to replace some characters in string with another characters.
Replace method takes two inputs: characters to be replaced, and new characters to be inserted in string, **replace('characters to be replaced', 'new characters')**.

Example, given the string "This movie was awesome", replace the world movie with project.

In [ ]:
stri = "This movie was awesome"
stri.replace('movie', 'project')

'This project was awesome'

**2. Data Structures**

Data structures are used to organize and store the data. Algorithms supports operations on data.

Python has 4 main data structures: Lists, Dictionaries, Tuples and Sets.

**2.1 List**

A list is a set of ordered values.
 Each value in a list is called an element or item and can be identified by an index.
 A list supports different data types, we can have a list of integers, strings, and floats.

What we will see with Python lists:

Creating a list

Accessing elements in a list

Slicing a list

Changing elements in a list

Traversing a list

Operations on list

Nested lists

List methods

List and strings

**Creating a List**

A python list can be created by enclosing elements of similar or different data type in square brackets [...], or with range() function.

In [ ]:
# Creating a list

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
even_numbers = [2, 4, 6, 8, 10]
mixed_list = ['Mon', 1, 'Tue', 2, 'Wed', 3]

# Displaying elements of a list
print(week_days)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [ ]:
# Creating a list with range()
'''The range() function returns a sequence ofnumbers, starting from 0 by default,
and increments by 1 (by default), and stopsbefore a specified number.'''
nums = range(5)

for i in nums:
    print(i)

0
1
2
3
4

**Accessing elements from list**

In [ ]:
List = ["Welcome", "to", "NCE"]
List[0]
List[2]
List[-1]

'NCE'

**Slicing a list**

Given a list, we can slice it to get any parts or combination of its elements forming another list.

In [ ]:
# Get the elements from index 0 to 2. Index 2 is not included.

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
week_days[0:2]

['Mon', 'Tue']

In [ ]:
# Get elements from the last fourth elements to the first
# -1 starts at the last element 'Fri', -2 second last element `Thur'..... -4 to 'Tue'
#Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item
week_days[-4:]

['Tue', 'Wed', 'Thur', 'Fri']

In [ ]:
# Get all elements up to the fourth index

week_days[:4]

['Mon', 'Tue', 'Wed', 'Thur']

You can use [:] to copy the entire list.

In [ ]:
week_days[:]

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

**Changing elements in a list**

Python lists are mutable. We can delete or change the elements of the list.

In [ ]:
names = ['Ram', 'Mark', 'leo', 'harri']
names

['Ram', 'Mark', 'leo', 'harry']

In [ ]:
#change mark to zuck and leo to mary
names[1:3]=['Zuck','mary']
names

['Ram', 'Zuck', 'mary', 'harry']

In [ ]:
names[-1]='paudel'
names

['Ram', 'Zuck', 'mary', 'paudel']

In order to delete a given element in a list, we can empty slice it but the better way to delete element is to use del keyword.

In [ ]:
del names[1]
names

['Ram', 'mary', 'paudel']

If you know the index of the element you want to remove, you can use **pop()**. If you don't provide the index in pop(), the last element will be deleted.

In [ ]:
names = ['Ram', 'Mark', 'leo', 'harri']
names.pop(2)
names

['Ram', 'Mark', 'harri']

Also, we can use **remove()** to delete the element provided inside the remove() method.

In [ ]:
names = ['Ram', 'Mark', 'leo', 'harri']
names.remove('Ram')
names

['Mark', 'leo', 'harri']

We can also use append() to add element to the list.

In [ ]:
names = ['Ram', 'Mark', 'leo', 'harri']
names.append('sita')
names.append('lucy')
names

['Ram', 'Mark', 'leo', 'harri', 'sita', 'lucy']

**Traversing a list**

There are times that we may need to go over the list to read the elements of the list or perform iterative operations. We can use for loop to traverse through the list.

In [ ]:
# Given a list names, use for loop to display its elements

names = ['Ram', 'Mark', 'leo', 'harri']

for name in names:
    print(name)

Ram
Mark
leo
harri

**Example**


**Given a list nums, add 1 to the first element, 2 to the second, 3 to 3rd element, 4 to 4th element

Example: nums = [1,2,3,6] will be nums_new = [2,4,6,10] **

In [ ]:
nums = [1, 2, 3, 6]
len(nums)
nums_new = []

for i in range(len(nums)): #len(nums) gives the length of the list
    num = nums[i] + i + 1
    nums_new.append(num)

nums_new

[2, 4, 6, 10]

Operations on **list**

In [ ]:
# Concatenating two lists

a = [1,2,3]
b = [4,5,6]

c = a + b

c

[1, 2, 3, 4, 5, 6]

In [ ]:
# We can also use * operator to repeat a list a number of times

[None] * 5

[None, None, None, None, None]

Nested **lists**

In [ ]:
# Creating a list in other list

nested_list = [1,2,3, ['a', 'b', 'c']]


# Get the ['a', 'b', 'c'] from the nested_list

nested_list[3]

['a', 'b', 'c']

**List Methods**

Python also offers methods which make it easy to work with lists.
We already have been using some list methods such as pop() and append() but let's review more other methods.

In [ ]:
# Sorting a list with sort()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.sort()

even_numbers

[2, 8, 10, 12, 14, 16, 20]

In [ ]:
# Reversing a string with reverse()

even_numbers.reverse()
even_numbers

[20, 16, 14, 12, 10, 8, 2]

In [ ]:
# Adding other elements to a list with append()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.append(40)
even_numbers

[2, 14, 16, 12, 20, 8, 10, 40]

In [ ]:
# Removing the first element of a list
even_numbers = [2,14,16,12,20,8,10]
even_numbers.remove(2)
even_numbers

[14, 16, 12, 20, 8, 10]

In [ ]:
# pop() without index specified will return the last element of the list

even_numbers = [2,14,16,12,20,8,10]
even_numbers.pop()

10

**List and strings**

We previously have learned about strings. Strings are sequence of characters. List is a sequence of values

In [ ]:
# We can convert a string into list

stri = 'Apple'

list(stri)

['A', 'p', 'p', 'l', 'e']

In [ ]:
# Splitting a string produces a list of individual words

stri_2 = "List and Strings"
stri_2.split()

['List', 'and', 'Strings']

The split() string method allows to specify the character to use a a boundary while splitting the string. It's called delimiter.

In [ ]:

stri_3 = "state-of-the-art"

stri_3.split('-')

['state', 'of', 'the', 'art']